.loginPage {
    background: url('images/banner.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

ul li :hover {
    background-color: gray;
}

.employee_image{
    width: 80px;
    height: 5=80px;
    border-radius: 50%;
}